.column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 400px;
    min-width: 400px;
    max-height: 100%;
    border: 3px solid var(--color-secondary);
    border-radius: 8px;
    padding: 24px;
    overflow: hidden;
    transition: all 0.2s ease;
}

.column-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    background: #e3e3e3;
    color: #989898;
    padding: 12px 18px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.column-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    
    border-radius: 8px;
    padding: 16px;
    height: 100%;
}

.column.over-limit {
    border-color: var(--color-danger);
}

.column-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.wip-indicator {
    margin-left: auto;
    background: #0000000f;
    padding: 6px 10px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 14px;
}

.wip-indicator.over {
    color: var(--color-danger);
    background: #fecdd399;
}