.card {
    border: 1px solid var(--color-border);
    background: #f7f7f7;
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 10px 12px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 10px 12px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 12px 2px rgba(0,0,0,0.3);
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
    color: var(--color-text);
}

.card-header h1 {
    font-size: 1.7em;
}

.card-status {
    width: fit-content;
    border-radius: 18px;
    padding: 6px 12px;
    color: #fff;
    font-weight: bold;
}

.card-info {
    color: #646464;
}

.infos {
    display: flex;
    gap: 4px;
}

.over {
    background: #ff9a9a;
    color: #a60000;
    border: 1px solid #a60000;
    border-radius: 12px;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    margin: 24px 0 0;
}

.card-actions {
    display: flex;
    gap: 15px;
    margin: 24px 0 0;
}

