:root {
    --color-primary: #f5948b;
    --color-secondary: #df5f2d;
    --color-cancel: #c62929;

    --color-primary-op: #f87b70;
    --color-cancel-op: #ab1a1a;


    --color-success: #10B981;
    --color-warning: #F59E0B;
    --color-danger: #EF4444;

    --color-background: #f0f0f0;
    --color-text: #303030;
    --color-border: #d0d0d0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#root {
    width: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  font-weight: 600;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.btn-primary {
  background-color: var(--color-primary);
  color: #fff;
}
button.btn-primary:hover {
  background-color: var(--color-primary-op);
}
button.btn-cancel {
  background-color: var(--color-cancel);
  color: #fff;
}

button.btn-cancel:hover {
  background-color: var(--color-cancel-op);
}

