:root {
    --color-primary: #f5948b;
    --color-secondary: #ff715e;
    --color-cancel: #c62929;

    --color-primary-op: #f87b70;
    --color-cancel-op: #ab1a1a;

    --color-background: #f0f0f0;
    --color-text: #303030;
    --color-border: #d0d0d0;

    --color-danger: #dc2626;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#root {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

button, a.btn-primary, a.btn-cancel, a.btn-white {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  min-width: fit-content;
}
button:focus, a.btn-primary:focus, a.btn-cancel:focus, a.btn-white:focus,
button:focus-visible, a.btn-primary:focus-visible, a.btn-cancel:focus-visible, a.btn-white:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.btn-primary {
  background-color: var(--color-primary);
  color: #fff;
}
button.btn-primary:hover {
  background-color: var(--color-primary-op);
}

button.btn-secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
button.btn-secondary:hover {
  background-color: var(--color-secondary-op);
}

button.btn-cancel {
  background-color: var(--color-cancel);
  color: #fff;
}

button.btn-white, a.btn-white {
  background-color: #fff;
  color: var(--color-text);
}

button.btn-white:hover, a.btn-white:hover {
  background-color: #e8e8e8;
}

button.btn-cancel:hover {
  background-color: var(--color-cancel-op);
}

